    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}

    {{ if not .Site.Params.OpenGraph.hide }}
    <meta name="og:site_name" content="{{ .Site.Title }}">
    <meta name="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
    <meta name="og:url" content="{{ .Permalink }}">
    <meta name="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}">
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" />
    <meta name="twitter:card" content="" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}"/>
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>    
    <!-- <link rel="stylesheet" href="css/animate.css"> -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/icomoon.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/simple-line-icons.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/magnific-popup.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    {{ $site := .Site }}
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ $site.BaseURL }}{{ . }}">
    {{ end }}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TV2ZJZG');</script>
    <script src="{{ .Site.BaseURL }}js/modernizr-2.6.2.min.js"></script>
